@charset "ISO-8859-1";
@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #191970;
    text-decoration: none;
}

a:hover {
    color:orange;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color:  orange;
    font-size: 18px;
    background-color: #191970;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.container {
    margin: 50px auto;
    max-width: 1000px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
